
/* fin Exo 1 */
#exo1 h1{
    position: relative;
    max-width: max-content;
    
}
#exo1 h1::before{
    content: '';
    height: 13%;
    position: absolute;
    bottom: 1px;
    width: 0px;
    background: red;
    transition: width 2s ;
    
}
#exo1 > h1:hover::before{
    width: 100%;

}
/* @keyframes underline{
    from{
        left:100px;
    }
    to{
        left:0px;
    }
} */



/* Exo 2 */
#exo2 h1{
    max-width: max-content;
    
}
#exo2 > h1::after{
    content: '';
    display: block;
    height: 5px;
    margin: 0 auto;
    background-color: red;
    width: 0;
    transition: width 2s;
}
#exo2 > h1:hover::after{
    width: 100%;
}


/* fin Exo 2 */

/* Exo 3 */
#exo3 h1{
    position: relative;
    max-width: max-content;
    
    
}
#exo3 h1::before{
    content: '';
    height: 0%;
    position:absolute;
    bottom: 1px;
    width: 100%;
    background: red;
    transition: height 2s ;
    z-index: -1;

}
#exo3 > h1:hover::before{
    height: 100%;
}



/* fin Exo 3 */
